.signup-container {
  display: flex;
  justify-content: center; /* Center the content */
  align-items: stretch; /* Stretch to fill height */
  min-height: 100vh;
  background-color: #f5f5f5;
  margin: 0; /* Remove margins to ensure full-width */

}

.signup-left {
  background-color: #2874f0; /* Blue background */
  color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%; /* Adjust width to be smaller than the right side */
  margin-left: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-left h2 {
  margin-bottom: 20px;

}

.signup-left p {
  width: 200px; /* Set width to control text wrapping */
  margin: 0; /* Remove default margin */
  color: white;
}

.signup-left img {
  width: 150px;
  margin-top: 30px;
}

.signup-right {
  background-color: white;
  width: 60%; /* Larger width than the left side */
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 240px;
}

.signup-right form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.signup-right input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.password-field {
  position: relative;
}

.password-field input {
  width: 100%;
  padding-right: 40px; /* To make space for the eye icon */
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.signup-button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #218838;
}

.message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.login-link {
  color: #007bff;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}

.para{
  margin-top:10px;
}